{% extends 'base.html' %}
{% block content %}
    <form action="" method="get">
        {{form.as_p}}
        <input type="submit" value="Поиск">
    </form>
    <div class="features">
    <h1>{{ title }}</h1>

        {% for p in products %}
            <h2>{{ p.name }}</h2>
            {% if p.image %}
                <p><img class="img-article" src="{{ p.image.url }}" style="width: 300px"></p>
            {% endif %}
            <li>
                <p>Цена: {{ p.price }}</p>
                <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Информация о товаре</a></p>
{#                <div class="clear"></div>#}
{#                <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Информация о товаре</a></p>#}
            </li>
        {% endfor %}
    </div>
{% endblock %}