{% extends 'base.html'%}

{% block content %}
<h1>{{product.name}}</h1>
<h3>Описание товара {{ product.description }}</h3>

<p><img class="img-article" src="{{product.image.url}}" style="width: 400px"></p>

    <h3>Цена товара {{ product.price }}</h3>

{% if request.user.is_authenticated %}
 {% if fav %}
      <div>
        <a href="{% url 'favourite_list' %}" class="">Удалить из избранного</a>
      </div>
      {% else %}
      <div>
        <a href="{% url 'favourite_add' product.id %}" class="">Добавить в избранное</a>
      </div>
      {% endif %}

      {% else %}
      <div>
        <a href="{% url 'register' %}" class="">Добавить в избранное</a>
      </div>
      {% endif %}
{%endblock%}